<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="bg-light p-5 rounded">
            <h1>Nuevo producto</h1>
       
        <div class="card-body">


        </div>
        <div class="card-footer">
            <form action="/new_producte" method="POST">
                <div class="form-group">
                    <input type="text" name="producte" placeholder="nom del producte" class="form-control" autofocus>
                </div><br>
                <div class="form-group">
                    <input type="file" name="foto" id="">
                </div><br>
                

                <div class="form-group col-md-4">
                    <input type="number" name="preu"  placeholder="preu" class="form-control">
                </div><br>
                            
            <div class="form-group">
                <label for="floatingTextarea">Descripció:</label>
            <textarea class="form-control" id="floatingTextarea" name="descripcio" cols="30" rows="5"></textarea>
            
            </div>
                <button class="btn btn-primary btn-block">añadir</button>
            </form>
        </div>
         </div>
    </div>
</div>