<main class="flex-shrink-0 mb-5 mt-4">

  <div class="container">
    <div class="bg-light p-5 rounded">
      <h1>{{title}}</h1>
      <p>{{txt}}</p>
      <div class="container">
        <p>GameShop es una empresa fundada en 2002 con personas de una amplia
          experiencia en el sector de la tecnología y el entretenimiento
          digital. Situados en la Zona del Baix Llobregat (Barcelona), damos
          soporte a empresas y a particulares. Con mas de 15 años de antigüedad,
          nos continúa ilusionando la confianza que nuestros clientes depositan
          en nosotros , y que de igual manera, intentamos devolverles.</p>
      </div>
    </div>

  </div>

</main>